<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb using </p>
<%= link_to("#{@actionName}", { :action => @actionName }) %>
<%= link_to("Hello Page", { :action => 'index' }) %>
<%= link_to("parameterized link", {
    :action => 'hello',
    :id => '14',
    :name => 'kinsey',
    :page => 1
  })
%>
